@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: #4c5c68;
}

.container h1{
    -webkit-text-fill-color: #C5C3C6;
    -webkit-text-stroke: 2px #46494C;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.container{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #C5C3C6;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 6.5px 7.5px 11px 1.5px #000;
}

.container .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .form-container input{
    width: 400px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 16px;
    border: none;
}

.container .form-container button{
    width: 100px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 50px;
    background-color: #4c5c68;
    color: #fff;
}

.container .form-container button:hover{
    background-color: #46494C;
    color: #fff;
}